<ion-header>
  <app-navbar></app-navbar>
</ion-header>


  
<ion-content>
  <div class="container">
    <div class="row mt-5" style="background-color: honeydew;">
      <div class="col-md-6">
        <div class="imgContainer">
          <img src="https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="Login" >
        <div class="overlay">
          <div class="text">
           
            <p> Adventure is worthwhile.</p>
          </div>
        </div>
        </div>
        
      </div>
      <div class="col-md-6">
        <label class="bg-primary text-center" style="width: 100%;height: 15%;"><h1>LOGIN TO YOUR ACCOUNT</h1></label><BR>
        <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
      
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    
      </div>
    </div>
    
  </div>
  
  
</ion-content>
