<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row mt-5 box-shadow" style="background-color: rgb(234, 243, 242);">
      <div class="col-md-6">
        <div class="imgContainer">
          <img src="https://res.allmacwallpaper.com/get/Retina-MacBook-Air-13-inch-wallpapers/Travel-Reward-2560x1600/6633-11.jpg" alt="Login" style="height: 480px;" >
        <div class="overlay">
          <div class="text">
           
            <p> THE WORLD IS ENDLESS!!.</p>
          </div>
        </div>
        </div>
        
      </div>
      <div class="col-md-6">
        <label class="bg-primary text-center" style="width: 100%;height: 10%;font-size: 25px;"><strong>SIGN UP</strong></label><BR>
          
         
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
    
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
    
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
          <button type="submit">Sign Up</button>
          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>

    
          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    
      </div>
    </div>
    
  </div>

</ion-content>
