<ion-header [translucent]="true">
  <app-navbar></app-navbar>
  <!-- <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-fluid">
    <div class="row " >
      <div
        class="col-md-12 p-1">
        <div class="imgContainer">
          <img src="https://www.riya.travel/images/travel-img02.png" alt="Login" style="height: 780px;" >
        <div class="overlay">
          <div class="text">
           
            <p> Not all those who wander are lost.</p>
            <div class="btn-group">
              <button routerLink="/login" routerLinlActive="active" class="button">Login</button>
            <button routerLink="/signup" routerLinlActive="active" class="button">SignUp</button>
            
            </div><br>
            <div class="btn2-group">
              <button class="button2" routerLink="/places" routerLinlActive="active"  >Plan your journey</button>
            </div>
           
            
            
            
          </div>
        </div>
        </div>
        <!-- <div class="imgContainer">
          <ion-slides class="slide-padding active" pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let story of topStories">
            
                <ion-img src="{{story.picture}}" class={{story.class}} routerLink="{{story.link}}" style="height: 80%;width: 100%;background-size: cover;">
                  <div class="overlay">
                    <div class="text">
                     
                      <p> THE WORLD IS ENDLESS!!.</p>
                    </div>
                  </div>
                  <h1 style="font-size:50px">I am John Doe</h1>
                </ion-img>
                <ion-slides pager="true" [options]="slideOptsreverse"></ion-slides>
              </ion-slide>
            </ion-slides>
        </div> -->
      
      </div>
    </div>
      <!-- <div class="row " >
        <div class="col-md-12 px-0 py-0" ><img src="https://www.wallpaperflare.com/static/598/201/181/photography-water-reflection-bali-wallpaper.jpg"  ></div>
    </div> -->
  </div>
</ion-content>
